{% extends "base.html" %}
{% load static %}
{% block title %}Music app search{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'style/search.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="search-filters">
            <div class="nav-filter-container">
                <div class="search-bar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="What do you want to listen?">
                </div>

                <button class="adv-filter-btn" data-bs-toggle="modal" data-bs-target="#filters" data-genres="{{ db_genres_json }}">
                    <i class="fa-solid fa-filter"></i>
                    <span>Filters</span>
                </button>
            </div>

            <div class="ma-buttons-filter">
                <button class="ma-filter-btn active" data-category="all">All</button>
                <button class="ma-filter-btn" data-category="artist">Artists</button>
                <button class="ma-filter-btn" data-category="playlist">Playlists</button>
                <button class="ma-filter-btn" data-category="album">Albums</button>
                <button class="ma-filter-btn" data-category="track">Tracks</button>
            </div>
        </div>

        <div class="results">
        </div>
    </main>

    <!--<footer>
        <div class="play-song d-flex justify-content-around align-items-center flex-wrap p-3">

            <div class="left-play-song d-flex align-items-center gap-3">
                <img class="result-image" src="NTQtNDg1My5qcGVn.png" alt="Picture">
                <div class="song-detail">
                    <h2>I</h2>
                    <h3>Track - Mach Hommy</h3>
                </div>
            </div>

            <audio src="I.mp3" controls controlsList="nodownload"></audio>

        </div>
    </footer>-->

    <div class="modal fade" id="filters" tabindex="-1" aria-labelledby="filtersLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">Apply</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'script/search.js' %}"></script>
{% endblock %}
